In [ ]:
for i in range(len(TankList)):
        Filename  = "Tank " + str(TankList[i]) + ".csv"
        #inputpath = ".../RawData/" + Filename
        inputpath = inpath + Filename
        data = pd.read_csv(inputpath, header = None)
        
            level = data[["LevelTime", "Tank Level"]]
            
            
            level = level.dropna()

In [11]:
import pandas as pd
data = pd.read_csv(".../Tank 4901.csv")
level = data[["LevelTime", "Tank Level"]]                       
level = level.dropna()
#level=level.set_index(['LevelTime'])
#level.index=pd.to_datetime(level.index)

In [12]:
level

      LevelTime  Tank Level
0      43101.00    0.742941
1      43101.04    0.742941
2      43101.08    0.742941
3      43101.13    0.742941
4      43101.17    0.742941
...         ...         ...
8732   43464.83    0.697641
8733   43464.88    0.697641
8734   43464.92    0.697641
8735   43464.96    0.697641
8736   43465.00    0.697641

[8737 rows x 2 columns]

In [22]:
int(43101.00/365)

118

In [28]:
int(43101.00/365%1*24)

2

In [29]:
int(43101.00/365%1*24%1*60)

2

In [31]:
from datetime import date
d0 = date(1900, 1, 1)